[Unit]
Description=HW06 Multiplayer Bulls and Cows

[Service]
Type=simple
User=practicesix
Group=practicesix
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4789
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/practicesix/bulls-and-cows-mp
ExecStart=/bin/bash /home/practicesix/bulls-and-cows-mp/start.sh

[Install]
WantedBy=multi-user.target
