.bulls-and-cows {
  margin: auto;
  max-width: 40rem;
  text-align: center;
  padding-top: 5rem;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.inline {
  display: inline-block;
}

.self {
  font-weight: bold;
}